  .App {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .cart {
    background-color: #000000;
    color: #FFFFFF;
  }

  .products {
    color: #000000;
  }
  
  button {
    margin: 10px 2px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #000000;
  }

  button:hover {
    background-color: #FF0000;
  }

  input {
    margin: 2px;
  }

  img {
    height: 200px;
    margin: 10px;
  }
  
  .cart, .products {
    width: 100%;
    padding: 16px 24px;
    display: inline-block;
    flex: 1;
  }
  
  .product p {
  margin-top: 0px;
  }

  .product h4 {
  margin-top: 10px;
  }

  .product {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  }

  .product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
  }

  nav {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
  }

  .grey {
    background-color: #D3D3D3;
  }
  
  .black {
    background-color: #000000;
  }