:root {
  --black: #222;
  --grey: #f2f2f2;
  --white: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.products,
.cart {
  width: 100%;
  padding: 16px 24px;
  display: inline-block;
  flex: 1;
}

.products {
  background-color: var(--grey);
  color: var(--black);
}

.products h1,
.products h2 {
  border-left: 10px solid var(--black);
  padding-left: 10px;
}

.product p {
  margin-top: 0px;
}

.product h4 {
  margin-top: 10px;
}

.product {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 10px;
}

.cart {
  background-color: var(--black);
  color: var(--white);
}

.cart button {
  margin: 8px 0px;
}

.product:not(:last-child) {
  margin-bottom: 16px;
}

.inputs input:not(:last-child) {
  margin-right: 10px;
}

.product-list {
  margin-bottom: 24px;
}

nav {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.black {
  background: var(--black);
}

.grey {
  background: var(--grey);
}

button {
  border: none;
  padding: 10px;
  border-radius:50px;
  outline: none;
}

img {
  border-radius:10px;
  border: 5px solid rgba(0, 0, 0, 0.1);
}

input {
  border: none;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  outline: none;
}
 
.cart img{
  border: 5px solid rgba(255, 255, 255, 0.2);
}


.product-col {
  margin-bottom: 20px;
}

.toggle {
  margin: 10px 0;
  color: #fff;
  background: #555;
}

.products button {
  color: #fff;
  background: #222;
}

.checkout {
  color: #222;
  background: goldenrod;
}

span {
  margin-right: 10px
}
